body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-black-meat-western-food-banner-background-image_194600.jpg');
    background-size: cover;
    width:90%;
    height: 90%;
}
.header{
    width:85%;
    display: flex;
    justify-content: space-between;+
    color: white;
    margin:30px;

}
.header li{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(255, 68, 0, 0.507);
    color: white;
    border-radius: 00px;
}
.header li:hover{
    color:rgba(104,86,85)

}

.header input{
    background-color: rgba(255, 68, 0, 0.507);
    height: 30px;
    margin-top: 20px;
    width: 150px;
    border-radius:50px ;
    outline:none;
    color: white;
    padding-left: 10px;
    float: right;
    


}    

button{
    background-color: rgba(255, 68, 0, 0.507);
    padding: 10px;
    color: white;
    width:100px;
    font-size: 20px;
    cursor: pointer;
}

.body-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10% 0 0 30%;
    align-items:center;
    justify-content: center;
    color:white;

}
.h1{
    font-size:40px;

}

.body-section button{
    background-color: rgba(255, 68, 0, 0.507);
    padding: 10px;
    color: white;
    width:100px;
    font-size: 10px;
    cursor: pointer;
    font-size: 13px;
}

.body-section button:hover{
    background-color: rgba(255, 68, 0, 0.507);
    color: white;
}
p{
    font-size: 19px;
}